<% if @model0.errors.any? %>
  <div id="error_explanation">
    <p>Index all errors:</p>
    <ul>
    <% @model0.errors.each do |field, msg| %>
      <li><%= field %>: <%= msg %></li>
    <% end %>
    </ul>
    <p>Index all errors with full_messages:</p>
    <ul>
    <% @model0.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
