<% if @model0.errors.has_key? :string_col %>
  <p>Errors for this field: <%= @model0.errors[:string_col].join(', ') %></p>
<% end %>
<p><label for="model0_string_col">String Column</label>:
<%= text_field 'model0', 'string_col' %></p>
<p><label for="model0_integer_col">Integer Column</label>:
<%= text_field 'model0', 'integer_col' %></p>
<p><label for="model0_model1_id">Model 1</label>:
<%= collection_select(:model0, :model1_id, @model1s, :id, :string_col) %></p>
