<% provide(:title, 'capybara title') %>

<h1>Capybara Tests</h1>

<p>paragraph</p>

<p id="xpath-p-id"><span class="a"><span class="b"></span></span></p>
<div id="xpath-text">div<span>span</span>div2</div>
<div id="xpath-contains">abcde</div>

<a href="/" id="a-id">a</a>

<h2>#all</h2>

<div id="all-text">ab<i>cd</i>ef</div>
<div id="all-text-whitespace"> a </div>
