<h1>Controller0#index</h1>
<% if @model0s.blank? %>
    <p>None</p>
<% else %>
    <ul id="model0s">
    <% @model0s.each do |c| %>
        <li>
            <%= link_to c.string_col, {action: 'show', id: c.id} -%>
            <%= link_to 'Edit', {action: 'edit', id: c.id} %>
            <%= link_to "Destroy",
              {action: 'destroy', id: c.id},
              data: { confirm: "Are you sure you want to destroy this item?" },
              method: :delete
            %>
        </li>
    <% end %>
    </ul>
<% end %>
<p><%= link_to "Create new Model0", {:action => 'new' }%></p>
