<h1>Controller0#show</h1>
<p>string_col = <%= @model0.string_col %></p>
<p>integer_col = <%= @model0.integer_col %></p>
<p>model1_id = <%= @model0.model1_id %></p>
<%= link_to 'Back', {:action => 'list'} %>
