<% provide(:title, 'View Tests') %>

<h1>View Tests</h1>

<p>This file will be used for view tests: modifying anything in it may break a test.</p>

<div id="assert-select">
  <div class="inside-select">content</div>
</div>
